<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <v-app-bar-title>
        <span v-if="['Article', 'ArticleEditor'].includes($route.name)">
          <!-- null or undefined, but NOT empty string '', although according
           to the specs, articles can't have no content so... -->
          <span v-if="$route.name === 'Article' && article == null">
            No article with this exact name found. Use the Edit button in the header to add it.
          </span>
          <span v-else>
            {{ selectedArticleName }}
          </span>
        </span>
        <span v-else>
          Planitar Fancy Article Viewer & Whatnot
        </span>
      </v-app-bar-title>
    </v-app-bar>

    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>

import { mapGetters, mapState } from 'vuex';

export default {
  name: 'App',

  computed: {
    ...mapState('articles', ['selectedArticleName']),

    ...mapGetters('articles', {
      getArticleFromStore: 'article',
    }),

    article: (vm) => vm.getArticleFromStore(vm.selectedArticleName),
  },
};
</script>
