<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12" class="d-flex justify-end">
        <v-btn
          color="yellow"
          depressed
          small
          @click="editArticle"
        >
          <v-icon small left>
            mdi-pencil
          </v-icon>
          edit
        </v-btn>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12">
        <v-card outlined>
          <v-container>
            <span v-html="article"></span>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';

export default {
  name: 'Article',

  computed: {
    ...mapGetters('articles', {
      getArticleFromStore: 'article',
    }),

    article: (vm) => vm.getArticleFromStore(vm.articleName),
    articleName: (vm) => vm.$route.params.name,
  },

  methods: {
    ...mapActions('articles', {
      fetchArticle: 'getArticleContent',
    }),

    ...mapMutations('articles', {
      setActiveArticleName: 'SET_ACTIVE_ARTICLE_NAME',
    }),

    editArticle() {
      this.$router.push({ name: 'ArticleEditor', params: { name: this.articleName } });
    },
  },

  mounted() {
    this.setActiveArticleName(this.articleName);
    this.fetchArticle(this.articleName);
  },
};
</script>

<style scoped>

</style>
