<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12" class="d-flex">
        <v-btn
          depressed
          small
          color="yellow"
          @click="shouldShowHtmlPreview = !shouldShowHtmlPreview"
        >
          <v-icon small left>
            {{ shouldShowHtmlPreview ? 'mdi-eye-off' : 'mdi-eye' }}
          </v-icon>
          {{ shouldShowHtmlPreview ? 'hide preview' : 'show preview' }}
        </v-btn>

        <v-spacer />

        <div class="d-flex" style="gap: 12px;">
          <v-btn
            color="red"
            depressed
            small
            @click="cancelEdit"
          >
            <v-icon small left>
              mdi-delete
            </v-icon>
            cancel
          </v-btn>

          <v-btn
            color="green"
            depressed
            small
            :loading="isArticleSaving"
            :disabled="isArticleSaving"
            @click="save"
          >
            <v-icon small left>
              mdi-content-save
            </v-icon>
            save
          </v-btn>
        </div>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12">
        <v-card outlined>
          <v-container>
            <v-textarea
              v-model="articleContent"
              full-width
              auto-grow
              rows="12"
            />
          </v-container>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12">
        <v-card v-show="shouldShowHtmlPreview" outlined>
          <v-container>
            <span v-html="articleContent" />
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';

export default {
  name: 'ArticleEditor',

  data: () => ({
    articleContent: '',
    isArticleSaving: false,
    shouldShowHtmlPreview: false,
  }),

  computed: {
    ...mapGetters('articles', {
      getArticleFromStore: 'article',
    }),

    articleName: (vm) => vm.$route.params.name,
  },

  methods: {
    ...mapActions('articles', {
      fetchArticle: 'getArticleContent',
      saveArticle: 'saveArticle',
    }),

    ...mapMutations('articles', {
      setActiveArticleName: 'SET_ACTIVE_ARTICLE_NAME',
    }),

    async save() {
      try {
        this.isArticleSaving = true;
        await this.saveArticle({ name: this.articleName, content: this.articleContent });
      } catch (e) {
        console.error(e);
      } finally {
        setTimeout(() => {
          if (this.isArticleSaving) {
            this.isArticleSaving = false;
          }
        }, 500);
      }
    },

    cancelEdit() {
      this.$router.push({ name: 'Article', params: { name: this.articleName } });
    },
  },

  async mounted() {
    this.setActiveArticleName(this.articleName);
    let articleContent = this.getArticleFromStore(this.articleName);
    if (!articleContent) {
      await this.fetchArticle(this.articleName);
    }
    articleContent = this.getArticleFromStore(this.articleName);
    this.articleContent = articleContent;
  },
};
</script>

<style scoped>

</style>
