<template>
  <v-container fluid class="mt-8">
    <v-row>
      <v-col
        v-for="(content, name, i) in articles"
        :key="i"
        cols="8"
        offset="2"
      >
        <v-card
          :color="cardBackgroundColors[(i + 1) % cardBackgroundColors.length]"
          dark
          @click="viewArticle(name)"
        >
          <div class="d-flex flex-no-wrap justify-space-between">
            <div>
              <v-card-title
                class="text-h5"
              >
                {{ name }}
              </v-card-title>
            </div>

            <v-avatar
              class="ma-3"
              size="125"
              tile
            >
              <v-img src="https://picsum.photos/125" />
            </v-avatar>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'Articles',

  mounted() {
    this.fetchArticles();
  },

  computed: {
    ...mapGetters('articles', {
      articles: 'articleList',
    }),

    cardBackgroundColors: () => ['#22577E', '#5584AC', '#95D1CC', '#F6F2D4'],
  },

  methods: {
    ...mapActions('articles', {
      fetchArticles: 'getArticleNames',
    }),

    viewArticle(name) {
      this.$router.push({ name: 'Article', params: { name } });
    },
  },
};
</script>

<style scoped>

</style>
