<template>
  <v-container>
    <v-row>
      <v-col>
        <p>HELLO</p>
        <v-btn @click="queryBackend">
          Query Backend
        </v-btn>

        <v-btn @click="fetchAllArticles">
          Fetch articles
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

export default {
  name: 'Home',

  methods: {
    async queryBackend() {
      const localhost = await fetch(
        'http://localhost/api/',
      );
      const r = await localhost.text();
      console.log('localhost response', localhost, r);
    },

    async fetchAllArticles() {
      // const articlesWithSlash = await fetch(
      //   'http://localhost/api/articles/',
      // );
      const articlesWithoutSlash = await fetch(
        'http://localhost/api/articles/',
      );

      // console.log('articlesWithSlash', articlesWithSlash);
      // let r = await articlesWithSlash.text();
      // console.log('articlesWithSlash', r);
      console.log('articlesWithoutSlash', articlesWithoutSlash);
      const r = await articlesWithoutSlash.text();
      console.log('articlesWithoutSlash', r);
    },
  },
};
</script>
